<launch>
  <include file="$(find limo_bringup)/launch/limo_start.launch"/>
  <include file="$(find astra_camera)/launch/dabai_u3.launch"/>

  <node name="color_detector" pkg="follower_limo" type="color_detector.py" output="screen">
    <rosparam file="$(find follower_limo)/config/color_detector.yaml" command="load"/>
  </node>

  <node name="lidar_reader" pkg="follower_limo" type="lidar_reader.py" output="screen">
    <rosparam file="$(find follower_limo)/config/lidar_reader.yaml" command="load"/>
  </node>

  <node name="sensor_fusion" pkg="follower_limo" type="sensor_fusion.py" output="screen">
    <rosparam file="$(find follower_limo)/config/sensor_fusion.yaml" command="load"/>
  </node>

  <node name="follower_controller" pkg="follower_limo" type="follower_controller.py" output="screen">
    <rosparam file="$(find follower_limo)/config/follower_controller.yaml" command="load"/>
  </node>

  <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch"/>
</launch>